
//Colors

$white:	#fff;
$black: #000;
$java: #23B5AF;
$tuna: #3A3A3C;


$bk-color: $java;
$offset-color: $tuna;


//Fonts

$font-size: 18px;
$font-size-sec: 22px;
$font-color: $white;
$font-family: 'Roboto Condensed', sans-serif;




//Break Points

$brk-md: 768px;
$brk-lg: 1024px;