
%head-center {
	text-align: center;
  	margin: 6px 0px; 
}

%padding {
	padding-left: 1em; 
  	padding-right: 1em;
}

%double-padding {
	padding-left: 2em;
	padding-right: 2em;
}

%center {
	text-align: center;
}

%offset {
	background-color: #3A3A3C;
	padding-top: 10px;
	padding-bottom: 10px;
}