footer {

	.top {
	  float: right;
	}

	.sname {
	  float: left;
	}

	.footer-nav {
	  display: none;
	}

	@include mq(medium) {
		margin: 0 1%;

		.top {
		  display: none;
		}

		.footer-nav {
		  display: initial;
		  float: right;
		  margin: 0;

		  li {
			  margin-left: 10px;
			}
		}
	}

	@include mq(large) {
		margin: 0;
	}

}