.main-header {
  @extend %clearfix;
  padding: 1em 0;

  .name {
  @extend %center;
  font-weight: 400;
  
    a {
      color: $black;
    }
  } //name end

  .main-nav {

    li {
      @extend %center;
      margin: 6px 0px;  
      background: $white;
      font-size: 1.1em;
    }

    a {
      color: #000;
      display: inline-block;
      padding: .7em;
    }  
  } //main-nav end

  @include mq(medium) {
    padding: 2em 0;

    .main-nav {
      text-align: center;

      li {
        display: inline-block;
        background: none;
      }

      a:hover {
        border-bottom: 1px solid white;
      }
    }
  }//mq end

  @include mq(large) {
    .name {
      float: left;
    }

    .main-nav {
      float: right;
      margin-top: 0;
      margin-bottom: 0;
    }
  }//mq end

} 








