img {
  width: 100%;
}


ul {
  @include pad(0);
}

body {
  font-size: $font-size;
  background: $bk-color;
  color: $font-color;
  font-family: $font-family;
  letter-spacing: 2px;
  line-height: 1.5em;
}

h3 {
 @extend %center;
 margin-top: 47px;
 font-weight: 700;
}

footer {
  @include pad($p-top: 1em, $p-bottom: 1.5em);
  
  li {
    display:inline-block; 
  }

  a {
    color: $white;
  }

}
