

@mixin padding($left: null, $right: null, $top: null, $bottom: null) {
	padding-left: $left;
	padding-right: $right;
	padding-top: $top;
	padding-bottom: $bottom;
}


@mixin margin($left: null, $right: null, $top: null, $bottom: null) {
	margin-left: $left;
	margin-right: $right;
	margin-top: $top;
	margin-bottom: $bottom;
}